<launch>
    <!--  ************** Global Parameters ***************  -->
    <param name="use_sim_time" value="true"/>
    <arg name="gui" default="false"/>
    <arg name="trajectory_type" default="line" doc="opt: line, circle, infinity, rectangle, epitrochoid"/>
    
    <!--  ************** GAZEBO Simulator ***************  -->
    <arg name="z_pos" default="0.0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <!-- line -->
    <arg name="x_pos" default="0.0" if="$(eval trajectory_type == 'line')" />
    <arg name="y_pos" default="0.0" if="$(eval trajectory_type == 'line')" />
    <arg name="yaw" default="0.0" if="$(eval trajectory_type == 'line')" />
    <!-- circle -->
    <arg name="x_pos" default="3.0" if="$(eval trajectory_type == 'circle')" />
    <arg name="y_pos" default="0.0" if="$(eval trajectory_type == 'circle')" />
    <arg name="yaw" default="1.57" if="$(eval trajectory_type == 'circle')" />
    <!-- infinity -->
    <arg name="x_pos" default="1.0" if="$(eval trajectory_type == 'infinity')" />
    <arg name="y_pos" default="-1.0" if="$(eval trajectory_type == 'infinity')" />
    <arg name="yaw" default="3.14" if="$(eval trajectory_type == 'infinity')" />
    <!-- rectangle -->
    <arg name="x_pos" default="0.0" if="$(eval trajectory_type == 'rectangle')" />
    <arg name="y_pos" default="0.0" if="$(eval trajectory_type == 'rectangle')" />
    <arg name="yaw" default="1.57" if="$(eval trajectory_type == 'rectangle')" />
    <!-- epitrochoid -->
    <arg name="x_pos" default="1.0" if="$(eval trajectory_type == 'epitrochoid')" />
    <arg name="y_pos" default="0.0" if="$(eval trajectory_type == 'epitrochoid')" />
    <arg name="yaw" default="0" if="$(eval trajectory_type == 'epitrochoid')" />
    
    <!--  ************** Robot model ***************  -->
    <param name="robot_description" command="$(find xacro)/xacro $(find base_ws)/urdf/base_velodyne_description.xacro" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find gazebo_ros)/launch/empty_world.launch"/> -->
        <arg name="world_name" value="/home/catkin_ws/src/mpc_ros/mpc_ros/worlds/obstacle.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model servingbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" />
     
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>


    <!--  ************** Target & obstacles point generation **************  -->
    <node name="mpc_trajectory_generation" pkg="mpc_ros" type="dynamic_point_publisher.py">
        <param name="trajectory_type" value="$(arg trajectory_type)"/>
    </node>

    <node name="obstacle_generation" pkg="mpc_ros" type="obstacle_generation.py" />


    <!--  ************** Navigation **************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="/home/catkin_ws/src/mpc_ros/mpc_ros/map/map.yaml" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find mpc_ros)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find mpc_ros)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find mpc_ros)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find mpc_ros)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find mpc_ros)/params/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find mpc_ros)/params/global_planner_params.yaml" command="load" />
        <rosparam file="$(find mpc_ros)/params/move_base_params.yaml" command="load" />
        <!-- <rosparam file="$(find mpc_ros)/params/dwa_local_planner_params.yaml" command="load" /> -->
    </node>

    <!--  ************** Visualisation **************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_ros)/rviz/rviz_target_track.rviz"/>

    <!--  ************** Error Graph **************  -->
    <!-- <node name="drawError" pkg="mpc_ros" type="drawError.py" output="screen"/> -->

</launch>
